/* Enter your custom styles here */
.AlternateRowColor {
    background-color: rgb(209, 245, 247);
}
.AlternateRowColorAllslots{
    background-color: rgba(203, 208, 211, 0.678);
}
.SubTitleOnToolBar{
    font-size: larger !important;
    color: rgb(6, 59, 139) !important;
}

.HomePageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.postimg.cc/QdbS6vgc/trucks-dark-parking-lot-night-899894-32556-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
}

.descriptionContainer {
    padding: 1rem;
    text-align: left;
    margin: auto;
    margin-top: 13rem;
}

.TextParkingLot {
    color: aliceblue;
    font-size: x-large;
    font-style: oblique;
}

.ParkingSubtitle {
    color: aqua;
    font-size: medium;
    font-style: normal;
}

.loginContainer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: start;
    margin: auto;
    margin-top: 10rem;
    margin-left: 15rem;
}

.sapUiSmallMarginTop {
    margin-top: 1rem;
}


.HeaderName {
    margin: auto;
    font-size: medium;
    font-weight: bolder;
}


.AssignClearSpace .sapMBtnText {
    background-color: white !important;
    color: green;
    margin-right: 0.5rem;
}

.ClearBtnFromAssigning .sapMBtnText {
    background-color: white !important;
    color: red;
}

.SidePanelContent {
    background-image: url('https://img.freepik.com/premium-photo/harbors-parking-area-accommodates-array-parked-trucks-vertical-mobile-wallpaper_896558-15728.jpg?w=360') !important;
    width: 20%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.StatusBold {
    font-size: medium;
    font-weight: 550;
}

.SlotNumberBold {
    font-weight: 550 !important;
}


.UnAssignBtn {
    margin: auto;
    margin-left: 1rem;
}

.sapUiContentPadding1234 {
    background-image: url('https://i.postimg.cc/tJLGFNF9/image-6.jpg');
}

.Sidenavigation {
    background-color: blue;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .mainContainer {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .descriptionContainer,
    .loginContainer {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    .descriptionContainer {
        text-align: center;
    }
}

.LeftSidePanelText {
    color: darkblue !important;
}

.reservationrejectbtn,
.CancelBtnFromAllocatedSlots,
.CancelBtnFromReservedslotsFragment123,
.CacelBtnfromReservationFragment {
    background-color: white !important;
    color: red !important;
}

.confirmReservationBtn,
.AssignBtnfromReservedSlots,
.SaveBtnFromAllocatedSlots,
.AddaNewSlot,
.AssignBtnFromReservedslotsFragment,
.ReserveBtnfromReservationFragment {
    background-color: white !important;
    color: green !important;
}

/* To ensure the text color is applied, you might need to use this selector */
.reservationrejectbtn .sapMBtnText {
    color: rgb(204, 5, 5) !important;
}

.CancelBtnFromAllocatedSlots .sapMBtnText {
    color: rgb(204, 5, 5) !important;
}

.CancelAddNewSlot .sapMBtnText {
    color: red !important;
}
.CancelBtnFromReservedslotsFragment123 .sapMBtnText {
    color: red !important;
}
.CacelBtnfromReservationFragment .sapMBtnText {
    color: red !important;
}

.confirmReservationBtn .sapMBtnText {
    color: green !important;
}

.AddaNewSlot .sapMBtnText {
    color: green !important;
}

.AssignBtnfromReservedSlots .sapMBtnText {
    color: green !important;
}

.SaveBtnFromAllocatedSlots .sapMBtnText {
    color: green !important;
}
.AssignBtnFromReservedslotsFragment .sapMBtnText {
    color: green !important;
}
.ReserveBtnfromReservationFragment .sapMBtnText {
    color: green !important;
}


.SlipSlotDetails {
    font-weight: 550;
}

.InPutDetailsQRCode {
    font-weight: 550;
}

/* Add a New Slot to the Parking Space Animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.dialogSlideDown {
    animation: slideDown 0.5s forwards;
}

.sapMLIBSelected,
.sapMLIB:hover,
.sapMLIBFocused {
    background-color: rgba(24, 126, 241, 0.342) !important;
}

.RightSideContent {
    background-image: url('https://th.bing.com/th/id/OIP.3Qpqm7H3dJp4QUNXCEWmzQAAAA?rs=1&pid=ImgDetMain') !important;
}

.DatavisualPARKINGLOT {
    margin-top: 1rem;
    margin-left: 1rem;
}
.DatavisualPARKINGLOT123 {
    margin-top: 1rem;
}

.HedingNameColor {
    color: rgb(219, 3, 68) !important;
    /* Pink color for the header names */
}